<!DOCTYPE html>
<html>
<head>
     <title>Tvaksh:about</title>
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/about.css')  }}" media="screen"/>
</head>
<body>

   <header>
    <nav>
      </div class="row clearfix">
      <div class="scroll">
            <img src= "static/images/logo.jpg" class="logo">
            <ul class="main-nav animated shake" id="check-class">
                <li><a href="/">Home</a></li>
                <li><a href="/skinhealth">Skin-health</a></li>
                <li><a href="/register">Sign-In</a></li>

            </ul>
            <a href="#" class="mobile-icon" onclick="slideshow()"> <i class="fa fa-bars"></i> </a>
      </div>
    </nav>       
    <div class="main-content-header">
        <p>lwiadhjksn</p>
		<br>
		 
		 <br>
		 <br>
		 <br>
		 <br>
		 <br>
		 <br>
		 <br>
		 <br>
		<h1> <span class="colorchange">Detect disease in a snap.</span>.
        </h1>
        <p1>We know the complexities of dermatology can be daunting,<br> 
            so we’ve developed a tool to provide you with an instant Result of your skin condition.<br> 
            Tvaksh gives you a list of possible conditions from your photo and<br> 
            helps you think of things you might have missed.</p1>
        <h2><span class="colorchange">All About your Skin-health.</span>. 
        </h2>
		<br>
		<br>
		<br>
        <h3>Detect-Skin-Disease</h3>
        <p2>We have developed a clinical platform to empower some special type of skin diseases with accurate dermatology education.<br> 
            With just the snap of a photo, either from your smartphone or tablet or through a dermatoscope,and get fast result.</p2>
            <br>
			<br>
			<br>
        <h4>PATIENT-SKIN-SEARCH</h4>
        <p3>When you have problems with your skin,<br> searching symptoms online can be frustrating and overwhelming.<br>
            Tvaksh is a platform developed to help you get answers easier.<br> 
            we have developed technology capable of accurately analyzing your skin.<br>
            We provide you with a list of possible conditions to empower you to figure out what to do next</p3>
                     
    </div>
    <div class="skin-disease-info">
	<br>
		 <br>
		 <br>
		 <br>
		 <br>
		 <br>
		 <br>
		 <br>
		 <br>
		
        <h5><span class="colorchange">Tvaksh supports these common conditions.</span>.
        </h5>
        <p4>We can detect some of skin conditions and symptoms,<br> 
            from the common to the complex with the snap of a photo.<br> 
            Here are some of the common conditions we support:        
        </p4>
        <ul class="disease-nav animated shake" id="check2-class">
                <li>Acne</li>
                <li>Actinic Keratosis</li>
                <li>Athlete's Foot</li>
                <li>Eczema</li>
                <li>Ichthyosis</li>
                <li>Melanoma</li>
                <li>Psoriasis</li>
                <li>Ringworm</li>
                <li>Rosacea</li>
                <li>Shingles</li>
        </ul>
    
    </div>   
   </header>

    <script type="text/javascript">
        
           function slideshow(){
                 var x= document.getElementById('check-class');
                 if(x.style.display==="none"){
                     x.style.display="block";
        }else{x.style.display="none";}
           }
    </script>
        
</body>
</html>     