<!DOCTYPE html>
<html>
<head>
     <title>Tvaksh:Skin-health</title>
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/skinhealth.css')  }}" media="screen"/>
</head>
<body >

   <header>
    <nav>
      </div class="row clearfix">
            <img src="static/images/logo.jpg" class="logo">
            <ul class="main-nav animated shake" id="check-class">
                <li><a href="/about">About</a></li>
                
				<li><a href="/register">Sign-In</a></li>
				<li><a href="/contactus">Contact_Us</a></li>

            </ul>
        
            <a href="#" class="mobile-icon" onclick="slideshow()"> <i class="fa fa-bars"></i> </a>
      </div>
    </nav>       
    <div  class="main-content-header">
	     <p>iuqwakbskja</p>
		 <br>
		 <br>
		 <br>
		 <br>
		 <br>
		 <br>
		 <br>
		 <br>
		 <br>
		 <br>
		 <br>
		 <br>
		 <br>
		 <br>
		 <br>
		 <br>
		 <br>
		 <br>
		 <br>
		 <br>
		 <br>
		 <br>
		 <br>
		 <br>
		 <br>
		 <br>
		 <br>
		 <br>
		 <br>
		 <br>
		 <br>
		 <br>
		 <br>
		 <br>
		 <br>
		 <br>
		 <br>
		 <br>
		 <br>
		 <br>
		 <br>
		 <br>
		 <br>
		 <br>
		 <br>
		 <br>
		 <br>
		 <br>
		 <br>
		 <br>
		 <br>
		 <br>
		 <br>
		 <br>
		
        <h1>Your complete guide to skin health.</h1>
        <h2>Find information from experts on skin conditions, including symptoms, causes, diagnosis, and treatment options.</h2>
        <ul class="disease-nav animated shake" id="check2-class">
                <li><a href="skinhealth.html" target="self">Acne</a></li>
                <li><a href="#">Actinic Keratosis</a></li>
                <li><a href="#">Athlete's Foot</a></li>
                <li><a href="#">Eczema</a></li>
                <li><a href="#">Ichthyosis</a></li>
                <li><a href="#">Melanoma</a></li>
                <li><a href="#">Psoriasis</a></li>
                <li><a href="#">Ringworm</a></li>
                <li><a href="#">Rosacea</a></li>
                <li><a href="#">Shingles</a></li>
        </ul>
       
    
    <h3><span class="colorchange">Acne</span>.</h3>
        <p1>Commonly located on the face, neck, shoulders, chest, and upper back<br>
            Breakouts on the skin composed of blackheads, whiteheads, pimples, or deep, painful cysts and nodules<br>
            May leave scars or darken the skin if untreated <br> 
        </p1>         
		<br>
		<br>
		<br>
	 <h3><span class="colorchange">Actinic Keratosis</span>.</h3>
        <p1>Typically less than 2 cm, or about the size of a pencil eraser<br>
            Thick, scaly, or crusty skin patch<br>
           Appears on parts of the body that receive a lot of sun exposure (hands, arms, face, scalp, and neck <br>
           Usually pink in color but can have a brown, tan, or gray base<br>		   
        </p1>         
		<br>
		<br>
		<br>
	 <h3><span class="colorchange">Athlete's Foot</span>.</h3>
        <p1>itching, stinging, and burning between your toes or on soles of your feet<br>
blisters on your feet that itch<br>
cracking and peeling skin on your feet, most commonly between your toes and on your soles<br>
dry skin on your soles or sides of your feet<br>
raw skin on your feet<br>
discolored, thick, and crumbly toenails<br>
toenails that pull away from the nail bed<br>
        </p1>  
<br>
<br>
<br>		
		
	 <h3><span class="colorchange">Eczema</span>.</h3>
        <p1>CYellow or white scaly patches that flake off<br>
Affected areas may be red, itchy, greasy, or oily<br>
Hair loss may occur in the area with the rash <br>
        </p1>  
<br>
<br>
<br>		
		
	 <h3><span class="colorchange">Ichthyosis</span>.</h3>
        <p1>flaky scalp<br>
itchy skin<br>
polygon-shaped scales on the skin<br>
scales that are brown, gray, or white<br>
severely dry skin<br>
thickened skin<br>
        </p1>  
<br>
<br>
<br>		
		
	 <h3><span class="colorchange">Melanoma</span>.</h3>
        <p1>The shape of one-half of the mole does not match the other.<br>
            The edges are ragged, notched, uneven, or blurred.<br>
            Shades of black, brown, and tan may be present. Areas of white, gray, red, or blue may also be seen.<br>
The diameter is usually larger than 6 millimeters (mm) or had grown in size; this is 1/4 inch, about the size of a pencil eraser. Melanoma may be smaller when first detected.<br>
he mole has been changing in size, shape, color, or appearance, or it is growing in an area of previously normal skin. Also, when melanoma develops in an existing mole, the texture of the mole may change and become hard or lumpy. Although the skin lesion may feel different and may itch, ooze, or bleed, a melanoma skin lesion usually does not cause pain.<br>			
        </p1>         
	<br>
	<br>
	<br>
	 <h3><span class="colorchange">Psoriasis</span>.</h3>
        <p1>Scaly, silvery, sharply defined skin patches<br>
Commonly located on the scalp, elbows, knees, and lower back<br>
May be itchy or asymptomatic<br>
        </p1>  
<br>
<br>
<br>		

      <h3><span class="colorchange">Ringworm</span>.</h3>
        <p1>Circular-shaped scaly rashes with raised border<br>
Skin in the middle of the ring appears clear and healthy, and the edges of the ring may spread outward<br>
Itchy<br>
        </p1>         
<br>
<br>
<br>
 <h3><span class="colorchange">Rosacea</span>.</h3>
        <p1>Chronic skin disease that goes through cycles of fading and relapse<br>
Relapses may be triggered by spicy foods, alcoholic beverages, sunlight, stress, and the intestinal bacteria Helicobacter pylori<br>
There are four subtypes of rosacea encompassing a wide variety of symptoms<br>
Common symptoms include facial flushing, raised, red bumps, facial redness, skin dryness, and skin sensitivity <br>
        </p1>  
<br>
<br>
<br>		
 <h3><span class="colorchange">Shingles</span>.</h3>
        <p1>Pain, burning, numbness or tingling<br>
Sensitivity to touch<br>
A red rash that begins a few days after the pain<br>
Fluid-filled blisters that break open and crust over<br>
Itching <br>

        </p1>         		
		

        
    </div>
    </header>

    <script type="text/javascript">
        
           function slideshow(){
                 var x= document.getElementById('check-class');
                 if(x.style.display==="none"){
                     x.style.display="block";
        }else{x.style.display="none";}
           }
    </script>
        
</body>
</html>     